<!-- Header -->
<%- include("partials/header") %> 


<body>

  <!-- Navbar -->
  <%- include("partials/usernavbar") %> 
  
  <div class="container align-items-center text-center" id="profileContainer">
    <h2 class="mb-5">Profile</h2>

    <div class="tableDiv">
    <table class="table table-borderless text-start">
      <tr>
        <th>Name</th>
        <td></td>
        <td>Manimaran</td>
      </tr>
      <tr>
        <th>Email</th>
        <td></td>
        <td>sent2manimaran@gmail.com</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td></td>
        <td>9483938499</td>
      </tr>
    </table>
    </div>
    <a href="/user/changepass" role="button" class="btn btn-success">Change Password</a>
  </div>


  </body>
  </html>